@model Repository.Models.User

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trixy</title>

    <link rel="icon" href="~/assets/images/logo.png">
    <link rel="stylesheet" href="https://specie-admin-template.multipurposethemes.com/main/css/vendors_css.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/skin_color.css">
</head>
<body class="hold-transition theme-primary bg-img" style="background-image: url(https://specie-admin-template.multipurposethemes.com/images/auth-bg/bg-6.jpg)">

    <div class="container h-p100">
        <div class="row align-items-center justify-content-md-center h-p100">
            <div class="col-12">
                <div class="row justify-content-center g-0">
                    <div class="col-lg-5 col-md-5 col-12">
                        <div class="bg-white rounded10 shadow-lg">
                            <div class="content-top-agile p-20 pb-0">
                                <img src="~/assets/images/logo.png" width="35" alt="logo">
                                <h2 class="text-primary">Change Password</h2>

                            </div>
                            <div class="p-40">
                                <form asp-action="ChangePassword" asp-controller="Account" method="post" id="confimpassform">
                                    <!-- Display Error Message -->
                                    @if (ViewBag.errormessage != null)
                                    {
                                        <div class="alert alert-danger text-center">
                                            @ViewBag.errormessage
                                        </div>
                                    }

                                    <div class="form-group">
                                        <label>Old Password</label>
                                        <input type="password" name="Oldpassword" class="form-control" placeholder="Password" value="@Model.Password" readonly>
                                        <input name="Id" type="hidden" value="@Model?.Id" class="form-control" />
                                    </div>

                                    <div class="form-group">
                                        <label>New Password</label>
                                        <input type="password" name="NewPassword" id="NewPassword" class="form-control" placeholder="Password" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                        <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" placeholder="Confirm Password" required>
                                        <span id="valiconfirmpassowrd" class="text-danger"></span>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <button type="submit" id="btnsubmit" class="btn btn-danger mt-10">Change Password</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>

@* <div class="content-wrapper">
    <div class="container-full">
        <section class="content">
            <div class="row">
                <div class="container h-p100">
                    <div class="row align-items-center justify-content-md-center h-p100">
                        <div class="col-12">
                            <div class="row justify-content-center g-0">
                                <div class="col-lg-5 col-md-5 col-12">
                                    <div class="bg-white rounded10 shadow-lg">
                                        <div class="content-top-agile p-20 pb-0">
                                            <img src="~/assets/images/logo.png" width="35" alt="logo">
                                            <h2 class="text-primary">Change Password</h2>

                                        </div>
                                        <div class="p-40">
                                            <form asp-action="ChangePassword" asp-controller="Account" method="post" id="confimpassform">
                                                <div class="form-group">
                                                    <label>Old Password</label>
                                                    <input type="password" name="Oldpassword" class="form-control" placeholder="Password" value="@Model.Password">
                                                    <input name="Id" type="hidden" value="@Model?.Id" class="form-control" />
                                                </div>

                                                <div class="form-group">
                                                    <label>New Password</label>
                                                    <input type="password" name="NewPassword" id="NewPassword" class="form-control" placeholder="Password">
                                                </div>
                                                <div class="form-group">
                                                    <label>Confirm Password</label>
                                                    <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" placeholder="Confirm Password">
                                                    <span id="valiconfirmpassowrd" class="text-danger"></span>
                                                </div>

                                                <div class="row">
                                                    <div class="col-12 text-center">
                                                        <button type="submit" id="btnsubmit" class="btn btn-danger mt-10">SIGN IN</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
 *@

<script type="text/javascript">
    $(document).ready(function () {
        $(document).on("click", function () {
            $(".alert-danger").fadeOut("slow");
        });

        $(".alert-danger").on("click", function (event) {
            event.stopPropagation();
        });
    });
     $("#ConfirmPassword").on( "input",function(){
          var password = $("#NewPassword").val();
          var confirmPassword = $(this).val();

        if (password !== confirmPassword) {
            $("#valiconfirmpassowrd").text("Passwords do not match!").show();
          
        } else {
            $("#valiconfirmpassowrd").hide();
        }
    });

       $("#confimpassform").submit(function (event) {
           debugger
        var password = $("#NewPassword").val();
        var confirmPassword = $("#ConfirmPassword").val();

        if (password !== confirmPassword) {
            $("#valiconfirmpassowrd").text("Passwords do not match!").show();
            event.preventDefault(); // Prevent form submission
            return false;
        }
        else {
            $("#valiconfirmpassowrd").hide();
        }
    });
</script>
